.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-row {
  flex-direction: row;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.map-container {
  /* align-items: center;
  justify-content: center; */
  align-self: flex-start;
  padding-left: 2vw;
  margin-top: 2vh;
  display: flex;
  flex-grow: 1;
  width: 70%;
}

.map-editor-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 0.5vw;
}

.editor-container {
  padding: 1vh;
  /* display: flex; */
  flex-grow: 1;
}

.bottom-space {
  margin-bottom: 1vh;
}

.top-space {
  margin-top: 1vh;
}

.vertical-space {
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.show-add-new-marker {
  /* display: block; */
}
.hide-add-new-marker {
  /* display: none; */
}
.marker-label-section {
  margin-left: 10px;
}

.edit-marker-section {
  justify-content: space-evenly;
  padding: 5px;
}

.overlay-component {
  display: block;
  position: absolute;
  top: 180px;
  left: 40px;
  height: 33vh;
  background-color: white;
  /* max-height: 10vh; */
  /* margin: 1vh auto; */
  z-index: 999;
  box-shadow: 0 0 1px transparent;
}

.overlay-header {
  display: flex;
  margin-top: -20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.overlay-header-button {
  align-self: center;
  top: 5;
  right: 10;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
